function Main.main 1
call Utils.init 0
pop temp 0
call GateInvaders.new 0
pop local 0
push local 0
call GateInvaders.run 1
pop temp 0
push local 0
call GateInvaders.dispose 1
pop temp 0
push constant 0
return
