function ParticleSystem.new 2
push constant 3
call Memory.alloc 1
pop pointer 0
push constant 50
pop this 2
push this 2
call Array.new 1
pop this 0
push this 2
pop this 1
push constant 0
pop local 0
label WHILE_EXP0
push local 0
push this 2
lt
not
if-goto WHILE_END0
call Particle.new 0
pop local 1
push local 0
push this 0
add
push local 1
pop temp 0
pop pointer 1
push temp 0
pop that 0
push local 0
push constant 1
add
pop local 0
goto WHILE_EXP0
label WHILE_END0
push pointer 0
return
function ParticleSystem.createExplosion 5
push argument 0
pop pointer 0
push constant 0
pop local 1
push constant 0
pop local 0
label WHILE_EXP0
push local 0
push this 1
lt
push local 1
push constant 8
lt
and
not
if-goto WHILE_END0
push local 0
push this 0
add
pop pointer 1
push that 0
pop local 4
push local 4
call Particle.isActive 1
not
if-goto IF_TRUE0
goto IF_FALSE0
label IF_TRUE0
push local 1
push constant 45
call Math.multiply 2
pop local 2
push constant 3
push constant 3
call Utils.random 1
add
pop local 3
push local 4
push argument 1
push argument 2
push local 3
push local 2
call Utils.cos 1
call Math.multiply 2
push constant 100
call Math.divide 2
push local 3
push local 2
call Utils.sin 1
call Math.multiply 2
push constant 100
call Math.divide 2
push constant 2
sub
call Particle.spawn 5
pop temp 0
push local 1
push constant 1
add
pop local 1
label IF_FALSE0
push local 0
push constant 1
add
pop local 0
goto WHILE_EXP0
label WHILE_END0
push constant 0
return
function ParticleSystem.update 2
push argument 0
pop pointer 0
push constant 0
pop local 0
label WHILE_EXP0
push local 0
push this 1
lt
not
if-goto WHILE_END0
push local 0
push this 0
add
pop pointer 1
push that 0
pop local 1
push local 1
call Particle.update 1
pop temp 0
push local 0
push constant 1
add
pop local 0
goto WHILE_EXP0
label WHILE_END0
push constant 0
return
function ParticleSystem.draw 2
push argument 0
pop pointer 0
push constant 0
pop local 0
label WHILE_EXP0
push local 0
push this 1
lt
not
if-goto WHILE_END0
push local 0
push this 0
add
pop pointer 1
push that 0
pop local 1
push local 1
call Particle.draw 1
pop temp 0
push local 0
push constant 1
add
pop local 0
goto WHILE_EXP0
label WHILE_END0
push constant 0
return
function ParticleSystem.clearAll 2
push argument 0
pop pointer 0
push constant 0
pop local 0
label WHILE_EXP0
push local 0
push this 1
lt
not
if-goto WHILE_END0
push local 0
push this 0
add
pop pointer 1
push that 0
pop local 1
push local 1
call Particle.isActive 1
if-goto IF_TRUE0
goto IF_FALSE0
label IF_TRUE0
push local 1
call Particle.erase 1
pop temp 0
label IF_FALSE0
push local 0
push constant 1
add
pop local 0
goto WHILE_EXP0
label WHILE_END0
push constant 0
return
function ParticleSystem.dispose 2
push argument 0
pop pointer 0
push constant 0
pop local 0
label WHILE_EXP0
push local 0
push this 1
lt
not
if-goto WHILE_END0
push local 0
push this 0
add
pop pointer 1
push that 0
pop local 1
push local 1
call Particle.dispose 1
pop temp 0
push local 0
push constant 1
add
pop local 0
goto WHILE_EXP0
label WHILE_END0
push this 0
call Array.dispose 1
pop temp 0
push pointer 0
call Memory.deAlloc 1
pop temp 0
push constant 0
return
